
body {
  width: 50%;
  margin: 2rem 6rem;
  font-family: 'Roboto', sans-serif;
  border: 5px solid black;
}

h1 {
  font-size: 3rem;
  padding-left: 2rem;
}

h2 {
  height: 1.5rem;
}

.recent-scores-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 4rem;
}

.recent-scores-header {
  display: flex;
}

ul {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
}

.grey {
  background-color: #f0f0f0;
}

li {
  font-weight: 500;
  padding-left: 0.5rem;
  display: flex;
  width: 15rem;
  list-style-type: none;
}

.leaderboard-wrapper {
  display: flex;
  justify-content: space-around;
  height: 40rem;
}

.add-score-container {
  display: flex;
  flex-direction: column;
}

input {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  border: 3px solid black;
  padding: 0.5rem;
  margin: 0.5rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  background-color: #f0f0f0;
  margin: 1.5rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

button:hover {
  color: #00b;
}
